@using EmailSMTP.ViewModels;

@model EmailViewModel;

<form method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="Subject" class="form-label">Subject</label>
        <input asp-for="Subject" class="form-control">
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Message" class="form-label">Message</label>
        <input asp-for="Message" class="form-control">
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>
